body {
  background: rgb(71, 160, 219);
}


.container,
.ear,
.face,
.inner,
.eye,
.snout,
.nose,
.mouth {
  position: absolute;
}

.container {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 100px;
}

.head {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: rgb(46, 17, 2);
  z-index: 2;
}

.eye.right {
  transform: translateX(100px);
}

.head .eye {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  left: 35px;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head .eye .inner {
  background: #583103;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.head .snout {
  background: #eed5e0;
  height: 50px;
  width: 40px;
  border-radius: 50%;
  top: 110px;
  left: 80px;
}

.head .snout .nose {
  background: #000;
  height: 15px;
  width: 26px;
  border-radius: 50%;
  left: 7px;
}

.head .snout .mouth {
  top: 7px;
  left: 2px;
  width: 16px;
  height: 20px;
  border-radius: 50% / 40%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;

  box-shadow: 0px 0px #000;
}

.head .snout .mouth.right {
  left: 19px;
  transform: rotateY(180deg);
}

.ear {
  background: rgb(46, 17, 2);
  height: 90px;
  width: 60px;
  border-radius: 50%;
  top: -40px;
  left: -10px;
  transform: skewX(40deg);
  z-index: -1;

}

.ear .inner {
  background: rgb(226, 92, 74);
  height: 30px;
  width: 30px;
  left: 15px;
  top: 37px;

  border-radius: 50%;

  position: absolute;
}

.ear.right {
  transform: translateX(160px) skewX(140deg);
}